/* styles/loading.scss */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  font-size: 2rem;
  flex-direction: column;
  gap: 20px;
  animation: fadeIn 1s ease-in-out;
}

.spinner {
  border: 8px solid #f3f3f3; /* Background color */
  border-top: 8px solid var(--primary-color); /* Spinner color */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite; /* Spinner rotation */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
