:root {
  --bg-color: hsl(0, 0%, 98%);
  --primary-color: hsl(138, 56%, 44%);
  --secondary-color: hsl(138, 48%, 54%);
  --white: hsl(0, 0%, 100%);
  --body-text: hsl(210, 6%, 34%);
  --title-color: hsl(210, 8%, 16%);
}
